@model PresentationTier.Models.OrderDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OrderDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ManualPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManualPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PricePerUoM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PricePerUoM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiscountPerUoM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiscountPerUoM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalLineItemAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalLineItemAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrderDetailId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
